- name: Set timezone
  shell: "timedatectl set-timezone Asia/Shanghai"

- name: Render hostname file
  ansible.builtin.template:
    src: templates/hostname.j2
    dest: /etc/hostname
    owner: root
    group: root
    mode: "0644"

- name: Set hostname using modern module
  hostname:
    name: "{{ inventory_hostname }}"

- name: Update /etc/hosts
  template: src=templates/hosts dest=/etc/hosts owner=root group=root mode=0644 force=yes unsafe_writes=yes

- name: Run secure_ssh.sh script
  script: files/secure_ssh.sh

- name: "Common | Run on Debian family only"
  when:
    - enable_common | bool
    - ansible_facts.os_family == 'Debian'
  vars:
    apt_repo_config: "{{ repo.apt | default({}) }}"
    apt_package_config: "{{ packages.apt | default({}) }}"
  block:
    - name: "Common | Repo & keys"
      ansible.builtin.include_tasks: repo_setup.yml
      when: apt_repo_config.enabled | default(false) | bool
      vars:
        repo_config: "{{ apt_repo_config }}"
      tags: [repo, baseline]

    - name: "Common | Packages"
      ansible.builtin.include_tasks: packages.yml
      when: apt_package_config.enabled | default(false) | bool
      vars:
        package_config: "{{ apt_package_config }}"
        package_manager: apt
      tags: [pkgs, baseline]

    - name: "Common | S3FS 挂载"
      ansible.builtin.include_tasks: configure_s3fs.yml
      when: s3fs_enable | default(false) | bool
      vars:
        s3fs_config: "{{ s3fs_config | default({}) }}"
      tags: [s3fs, mount]

- name: "Common | Run on RedHat family only"
  when:
    - enable_common | bool
    - ansible_facts.os_family == 'RedHat'
  vars:
    yum_package_config: "{{ packages.yum | default({}) }}"
  block:
    - name: "Common | Packages"
      ansible.builtin.include_tasks: packages.yml
      when: yum_package_config.enabled | default(false) | bool
      vars:
        package_config: "{{ yum_package_config }}"
        package_manager: dnf
      tags: [pkgs, baseline]

#- name: Include GPU Configuration
#  include_tasks: include_gpu.yaml
#  when: (ansible_facts['distribution'] == "Ubuntu") or (ansible_facts['distribution'] == "Debian")
#  tags: 
#    - k3s
#    - gpu
#    - nvidia

#- name: enable ip_forward
#  shell: 'echo "net.ipv4.ip_forward = 1" >> /etc/sysctl.conf; echo "net.ipv4.conf.all.proxy_arp = 1" >> /etc/sysctl.conf ; sysctl -p /etc/sysctl.conf'


#- name: Install packages
#  shell: "yum makecache && yum install -y audit container-selinux"
#  when: (ansible_facts['distribution'] != "Ubuntu") or (ansible_facts['distribution'] != "Debian")
